.form {
    gap: 20px;
    justify-content: space-evenly;
}

.form .flex-vertical {
    width: 100%;
    margin-bottom: 20px;
}

.creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--gris-clair);
    border-radius: var(--rayon-de-bordure-normal);
    box-shadow: 1px 0 var(--bordure),
                -1px -1px var(--bordure),
                0 1px 1px var(--ombre);
    padding: 40px;            
}

.creation h3 {
    text-align: center;
}

.nouveau {
    width: min(70vw, 700px);
}

.login {
    width: min(30vw, 300px);
}

input, select {
    width: 100%;
    height: 1.3em;
    font-size: 1.1em;
    box-sizing: border-box;
}

input[type='checkbox'], input[type='radio']{
    width: inherit;
}

.boutons-achat .modal .flex-horizontal {
    text-align: left;
    justify-content: start;
}

.boutons-achat .modal input[type='radio'] {
    margin-right: 6px;
}


label {
    padding-bottom: 5px;
}

.bouton {
    /* Ceci brise le bouton dans enchere create */
    /* margin-top: 20px; */
    width: fit-content;
    height: auto;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid var(--bleu-fonce);
    border-radius: var(--rayon-de-bordure-normal);
    font-size: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bouton:hover {
    background-color: var(--gris-clair);
}

/* faut que ça soit plus précis */
.form .flex-horizontal {
    gap: 20px;
}

.supprimer:hover {
    background-color: var(--rouge-fonce);
    color: white;
}

.error {
    color: red;
}

.compte {
    width: 100%;
    background-color: var(--gris-clair);
    border-radius: var(--rayon-de-bordure-normal);
    box-shadow: 1px 0 var(--bordure),
                -1px -1px var(--bordure),
                0 1px 1px var(--ombre);
}

.compte ul {
    background-color: white;
    justify-content: start;
    gap: 0 !important;
}

.compte li {
    padding: 10px 50px;
    border-right: 1px solid black;
    box-shadow: 1px 0 var(--bordure),
    -1px -1px var(--bordure),
    0 1px 1px var(--ombre);
}

.compte li:first-of-type {
    border-radius: var(--rayon-de-bordure-normal) 0 0 0;
}

.compte li:hover {
    background-color: var(--bleu);
    color: white;
}

.informations {
    padding: 40px 80px 0;
}

.deconnecte {
    padding: 40px 80px;
}

.deconnecte *+* {
    margin-left: 40px;
}

.message {
    color: blue;
    max-width: 30ch;
    margin-bottom: 1em;
}

.small-img {
    height: 100px;
}

.supprime-image-contenant-grid {
    margin: 20px;
    display: grid;
    width: 100%;
    grid-template-columns : repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.supprime-image-contenant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    max-height: clamp(100px, 100%, 200px);
}

.supprime-image-contenant:first-child {
    background-color: var(--gris);
    border: 2px solid var(--gris-fonce);
}

.supprime-image {
    position: absolute;
    display: flex;
    justify-content: end;
    width: clamp(100px, 100%, 200px);
    max-height: clamp(100px, 100%, 200px);
}

.supprime-image a {
    color: red;
    font-size: 22px;
    padding-right: 5px;
}

.supprime-image-contenant>img {
    width: clamp(100px, 100%, 150px);
    height: 100%;
}

.pas-enchere {
    background-color: yellow;
}

.small-img {
    max-width: 50px;
    max-height: 50px;
}

/* .envoi-recherche {
    background-color: none;
    font
} */

.modal {
    padding: 1em;
    max-width: 50ch;
    /* border; */
    margin: 0 auto;
    margin-top: 35vh;
    border-radius: 5px;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

input[name='item_page'],
input[name='page_catalogue']{
    background-color: aquamarine;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    border: 0px;
    /* width: 100%; */
    height: 1em;
    border-radius: 0;
}

span:has(input[name='item_page']),
span:has(input[name='page_catalogue']){
    padding-left: 2em;
}