.menu-secondaire-contenant {
    height: 50px;
    background-color: var(--gris-tres-clair-sature);
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0.5px 0.5px var(--ombre),
                inset 0 -0.5px 0.5px var(--ombre);
}

.menu-secondaire {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    color: var(--bleu);
    width: 100%;
}

.optionnel-1,
.optionnel-2,
.optionnel-3,
.optionnel-4 {
    display: none;
}

@media only screen and (min-width: 1400px) {
    .optionnel-1 {
        display: block;
    }
    .menu-secondaire a {
        width: calc(100% / 8);
    }
}

@media only screen and (min-width: 1200px) {
    .optionnel-2 {
        display: block;
    }
    .menu-secondaire a {
        width: calc(100% / 7);
    }
    .menu-secondaire {
        margin-left: min(40px, 2vw);
        margin-right: min(40px, 2vw);
        width: min(95vw, 1400px);
    }
}

@media only screen and (min-width: 1000px) {
    .optionnel-3 {
        display: block;
    }
    .menu-secondaire a {
        width: calc(100% / 6);
    }
}

@media only screen and (min-width: 800px) {
    .optionnel-4 {
        display: block;
    }
    .menu-secondaire a {
        width: calc(100% / 5);
    }
}

.menu-secondaire a {
    width: calc(100% / 4);
    height: 100%; /* Pour éviter le grossissement lors du wrap */
    line-height: 50px;
    text-align: center;
    padding: 0 min(10px, 0.5vw);
    overflow: visible;
}

.menu-secondaire a:first-child,
.menu-secondaire a:hover {
    background-color: var(--bleu);
    color: white;
}
.menu-secondaire a:first-child:hover {
    background-color: var(--bleu-clair);
    color: white;
}

