<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Page Produit</title>
    <meta name="author" content="Rizo, https://github.com/rizo32/stampee">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="stamp auction website">

    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:wght@700&family=Source+Sans+Pro:wght@400&family=Jomolhari&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


    <header id="haut">
        <nav class="menu-principal-contenant">
            <div class="menu-principal">
                <a href="index.html" class="logo">Stampee</a>
                <span class="recherche">
                    <input type="search" class="recherche-principale" name="recherche-principale" placeholder="Recherchez par provenance, couleur..." data-recherche>
                    <span class="point-reference"><img src="assets/img/recherche.svg" alt="loupe"></span>
                </span>
                <span class="filler"></span>
                <span class="flex-horizontal icones">
                    <a href="#"><img src="assets/img/bid-thick.webp" alt="menu du panier d'enchère"></a>
                    <a href="#"><img src="assets/img/bookmark-orig.webp" alt="menu produits suivis"></a>
                    <a href="#"><img src="assets/img/account.svg" alt="menu compte usagé"></a>
                    <a href="#"><span class="langue">FR</span></a>
                </span>
            </div>
        </nav>
        <nav class="menu-secondaire-contenant">
            <div class="menu-secondaire flex-horizontal">
                <a href="#">Trouver une enchère</a>
                <a href="#">Coups de coeur</a>
                <a href="#">Enchères populaires</a>
                <a class="optionnel-3" href="#">Derniers arrivés</a>
                <a class="optionnel-1" href="#">Dernière chance</a>
                <a class="optionnel-2" href="#">En solde</a>
                <a class="optionnel-4" href="#">Sélection Noel</a>
                <a href="#">Pour vous</a>
            </div>
        </nav>
    </header>

    <nav class="navigation-catalogue">
        <div class="fil-arianne">
            <span>Principale</span>
            <span class="material-icons">arrow_right</span>
            <span><a href="catalogue.html">Catalogue</a></span>
            <span class="material-icons">arrow_right</span>
            <span>#2607c Imperf Pair Superb NH SCV</span>
        </div>
    </nav>

    <main id="page-produit" class="flex-vertical">
        <article class="informations-principales flex-horizontal">
            <div class="images-produit flex-horizontal">
                <div class="galerie flex-vertical">
                    <img class="produit actif" src="assets/img/timbre-noir.webp" alt="timbre noir">
                    <img class="produit" src="assets/img/timbre-requin.webp" alt="timbre requin">
                    <img class="produit" src="assets/img/timbre-noir.webp" alt="timbre noir">
                    <img class="produit" src="assets/img/timbre-noir.webp" alt="timbre noir">
                    <img class="produit" src="assets/img/timbre-bleu-fonce.webp" alt="timbre bleu">
                </div>
                <div class="image-contenant">
                    <img class="produit" src="assets/img/timbre-noir.webp" alt="timbre noir">
                </div>
            </div>
            <section class="sommaire-produit flex-vertical">
                <header>
                    <small>1j 4h | 13 mises</small>
                    <h1>#2607c Imperf Pair Superb NH SCV</h1>
                    <small class="alerte">6 ajouts à des listes de suivi dans les 24 dernières heures</small>
                </header>
                <div class="information-prix">
                    <span class="prix">$118.87</span>
                    <small>Approximativement 145.58CAD</small>
                    <p>Ou acheter pour <b>$160.00</b></p>
                </div>
                <table>
                    <tr>
                        <th>Mise de départ</th>
                        <td>$80.00</td>
                    </tr>
                    <tr>
                        <th>Provenance</th>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <th>Condition</th>
                        <td>Excellente</td>
                    </tr>
                    <tr>
                        <th>Couleur</th>
                        <td>Noir, gris</td>
                    </tr>
                    <tr>
                        <th>Évaluation</th>
                        <td>95 (XF/Superbe)</td>
                    </tr>
                    <tr>
                        <th>Année d'émission</th>
                        <td>1874</td>
                    </tr>
                    <tr>
                        <th>Mise en vente</th>
                        <td>2022/11/06</td>
                    </tr>
                    <tr>
                        <th>Certification</th>
                        <td>Oui</td>
                    </tr>
                    <tr>
                        <th>Format</th>
                        <td>Seul</td>
                    </tr>
                    <tr>
                        <th>Alignement</th>
                        <td>Fine</td>
                    </tr>
                </table>
            </section>
            <div class="enchere flex-vertical">
                <div class="prix-livraison">
                    <span class="prix">$118.87</span>
                    <small>$188.87/timbre</small>
                    <p><small>Livraison au CANADA: <b>$3.99</b></small></p>
                    <p><small>Livraison garantie pour le <b>jeu, 14 janvier 2023</b></small></p>
                </div>
                <div class="boutons-achat flex-vertical">
                    <button class="mise-rapide">Mise rapide (123.87$)</button>
                    <button class="mise">Miser</button>
                    <button class="liste-suivi">Ajouter à la liste<br>des suivis</button>
                </div>
                <span class="transaction flex-horizontal">
                    <span class="transactions-secure flex-horizontal">
                        <img src="assets/img/lock.webp" alt="verrou">
                        <span>Transactions sécures</span>
                    </span>
                    <span class="methodes-paiement flex-horizontal">
                        <img src="assets/img/mastercard.webp" alt="mastercard">
                        <img src="assets/img/visa.webp" alt="visa">
                        <img src="assets/img/amex.webp" alt="amex">
                        <img src="assets/img/paypal.webp" alt="paypal" class="paypal">
                    </span>
                    <small class="politique"><a href="#">Voir notre politique de retour</a></small>
                </span>
            </div>
        </article>
        <article class="description flex-horizontal">
            <div class="description-questions flex-vertical">

                <section class="description-produit">
                    <h2>Description du produit</h2>
                    <p>Il s'agit d'un timbre de 1874 provenant du Canada et représentant la reine Victoria. La condition est excellente, gomme originale, évaluation de 95 (XF/Superbe). Alignement est bon (fine), petit offset à gauche</p>
                    <p>Vendu à l'unité avec certification</p>
                    <p>Pour plus d'information sur la livraison, consultez <a href="#">la politique de livraison et retours.</a></p>
                </section>

                <section class="questions">
                    <header class="flex-horizontal">
                        <h2>Questions</h2>
                        <span class="material-icons">add</span>
                    </header>
                    <div class="question">
                        <p><i>"Bonjour, j'ai fait des recherches de mon côté et j'ai l'impression que le timbre date de 1876 puisque dans la version de 1874 la reine faisait face au côté opposé?"</i></p>
                        <small>-Jerry Boyd</small>
                    </div>
                    <div class="reponse reponse-duc">
                        <p>Duc Stampee<img src="assets/img/verified.webp" alt="crochet"></p>
                        <p><i>"Non, il s'agit bien de l'édition de 1874. Merci pour la question!"</i></p>
                        <small>17 novembre 2022</small>
                    </div>
                    <div class="reponse">    
                        <p>Ridz32</p>
                        <p><i>"Il me semble que c'est plutôt l'édition de 1872 où la reine fait face à la droite..."</i></p>
                        <small>15 novembre 2022</small>
                    </div>

                </section>

            </div>
            <section class="historique-enchere">
                <h2>Historique des enchères</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Miseur</th>
                            <th>Mise</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sanchesmarkitos</td>
                            <td class="insecable">$118.87</td>
                            <td>2022/11/06 22:57</td>
                        </tr>
                        <tr>
                            <td>harvey_king67</td>
                            <td class="insecable">$113.87</td>
                            <td>2022/11/06 22:04</td>
                        </tr>
                        <tr>
                            <td>charpentier_kool_skate88</td>
                            <td class="insecable">$108.87</td>
                            <td>2022/11/06 21:19</td>
                        </tr>
                        <tr>
                            <td>sanchesmarkitos</td>
                            <td class="insecable">$103.87</td>
                            <td>2022/11/06 20:47</td>
                        </tr>
                        <tr>
                            <td>charpentier_kool<wbr>_skate88</td>
                            <td class="insecable">$98.87</td>
                            <td>2022/11/06 20:12</td>
                        </tr>
                    </tbody>
                </table>

                <button class="flex-horizontal"><span>Voir toutes les mises</span><span class="material-icons">expand_more</span></button>
            </section>
        </article>

        <article class="recommendations recommendations-variees">
            <h2>Vous pourriez apprécier</h2>
            <div class="carrousel-contenant">
                <div class="flex-horizontal">
                    <div class="fleche cache">&#129136;</div>
                    <div class="filler"></div>
                    <div class="fleche">&#129138;</div>
                </div>
                <div class="carrousel">
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-rouge.webp" alt="timbre rouge">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GREAT BRITAIN 116 MINT FVF OG HR</h5>
                            </header>
                            <span class="prix">$159.87</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-bleu2.webp" alt="timbre bleu">
                                <span class="point-reference"><span class="coup-coeur"></span></span>
                            </div>
                            <header>
                                <h5>GB SGN45t 1924 1/= BISTRE-BROWN IMPERF SPECIME..</h5>
                            </header>
                            <span class="prix">$210.78</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-bleu-fonce.webp" alt="timbre bleu">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>Great Britain #67 Plate 17 F-VF Used</h5>
                            </header>
                            <span class="prix">$188.87</span>
                            <small><span class="alerte">4:12:09</span> | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-requin.webp" alt="timbre requin">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GB SGN45t 1924 1/= BISTRE-BROWN IMPERF SPECIME..</h5>
                            </header>
                            <span class="prix">$188.87</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-vert.webp" alt="timbre vert">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GB SG429 N45(1) 1924 1/= BISTRE-</h5>
                            </header>
                            <span class="prix">$47.12</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                </div>
            </div>
        </article>


        <div class="fond-perdu-contenant flex-horizontal">
            <article class="fond-perdu flex-horizontal">
                <div class="flex-vertical">
                    <h3>"J'aime la simplicité de magasiner sur Stampee.com"</h3>
                    <small>Simon Lavoie</small>
                </div>
                <div class="flex-vertical">
                    <h3>"Le site est connu et respecté des philatélistes"</h3>
                    <small>Thomas George</small>
                </div>
                <div class="flex-vertical">
                    <img src="assets/img/homme-travail-exterieur.webp" alt="Lord Stampee">
                </div>
            </article>
        </div>

        <article class="recommendations recommendations-similaires">
            
            <h2>D'autres timbres d'Angleterre</h2>
            <div class="carrousel-contenant">
                <div class="flex-horizontal">
                    <div class="fleche cache">&#129136;</div>
                    <div class="filler"></div>
                    <div class="fleche">&#129138;</div>
                </div>
                <div class="carrousel">
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-rouge.webp" alt="timbre rouge">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GREAT BRITAIN 116 MINT FVF OG HR</h5>
                            </header>
                            <span class="prix">$159.87</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-bleu2.webp" alt="timbre bleu">
                                <span class="point-reference"><span class="coup-coeur"></span></span>
                            </div>
                            <header>
                                <h5>GB SGN45t 1924 1/= BISTRE-BROWN IMPERF SPECIME..</h5>
                            </header>
                            <span class="prix">$210.78</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-bleu-fonce.webp" alt="timbre bleu">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>Great Britain #67 Plate 17 F-VF Used</h5>
                            </header>
                            <span class="prix">$188.87</span>
                            <small><span class="alerte">4:12:09</span> | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-requin.webp" alt="timbre requin">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GB SGN45t 1924 1/= BISTRE-BROWN IMPERF SPECIME..</h5>
                            </header>
                            <span class="prix">$188.87</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-vert.webp" alt="timbre vert">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GB SG429 N45(1) 1924 1/= BISTRE-</h5>
                            </header>
                            <span class="prix">$47.12</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                </div>
            </div>

        </article>
        <article class="recommendations recommendations-populaires">
            <h2>Enchères populaires</h2>
            <div class="carrousel-contenant">
                <div class="flex-horizontal">
                    <div class="fleche cache">&#129136;</div>
                    <div class="filler"></div>
                    <div class="fleche">&#129138;</div>
                </div>

                <div class="carrousel">
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-rouge.webp" alt="timbre rouge">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GREAT BRITAIN 116 MINT FVF OG HR</h5>
                            </header>
                            <span class="prix">$159.87</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-bleu2.webp" alt="timbre bleu">
                                <span class="point-reference"><span class="coup-coeur"></span></span>
                            </div>
                            <header>
                                <h5>GB SGN45t 1924 1/= BISTRE-BROWN IMPERF SPECIME..</h5>
                            </header>
                            <span class="prix">$210.78</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-bleu-fonce.webp" alt="timbre bleu">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>Great Britain #67 Plate 17 F-VF Used</h5>
                            </header>
                            <span class="prix">$188.87</span>
                            <small><span class="alerte">4:12:09</span> | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-requin.webp" alt="timbre requin">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GB SGN45t 1924 1/= BISTRE-BROWN IMPERF SPECIME..</h5>
                            </header>
                            <span class="prix">$188.87</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                    <a href="page-produit.html">
        
                        <article class="carte-produit flex-vertical">
                            <div class="image-contenant">
                                <span class="point-reference"><span class="watchlist"></span></span>
                                <img class="produit" src="assets/img/timbre-vert.webp" alt="timbre vert">
                                <span class="point-reference"><span></span></span>
                            </div>
                            <header>
                                <h5>GB SG429 N45(1) 1924 1/= BISTRE-</h5>
                            </header>
                            <span class="prix">$47.12</span>
                            <small>1j 4h | 23 mises</small>
                        </article>
                    </a>
                </div>
            </div>

        </article>


    </main>


    <footer class="flex-vertical">
        <div class="retour-haut-contenant">
            <div class="retour-haut flex-horizontal">
                <p><a class="vrai-retour-haut" href="#haut">Retour en haut</a></p>
                <h5 class="appel-action-footer ">Vous avez entendu parler de notre <a class="infolettre" href="#">fameuse infolettre?</a></h5>
            </div>
        </div>
        <div class="footer-contenant">
            <nav class="flex-horizontal">
                <section class="flex-vertical">
                    <div>

                        <h4 class="titre-footer">À propos de Lord Reginald Stampee III</h4>
                        <ul>
                            <li>La philatélie, c'est la vie</li>
                            <li>La biographie du Lord</li>
                            <li>Historique familial</li>
                        </ul>
                    </div>
                    <div class="filler"></div>
                    <div class="logo-contenant">
                        <a class="logo" href="index.html">Stampee</a>
                    </div>

                </section>

                <section class="flex-vertical">
                    <h4 class="titre-footer">Actualités</h4>
                    <ul>
                        <li>Nos timbres</li>
                        <li>Nos enchères</li>
                        <li>Le Bridge</li>
                    </ul>
                </section>

                <section class="flex-vertical">
                    <h4 class="titre-footer">Support</h4>
                    <ul>
                        <li>Aide</li>
                        <li>Livraison</li>
                        <li>Contactez-nous</li>
                    </ul>
                    <div class="filler"></div>

                    <a class="aide" href="#">Besoin d'aide?</a>


                </section>

            </nav>

            
        </div>
        <div class="barre-bas-contenant">
            <div class="barre-bas flex-horizontal">
                <div class="termes">
                    <span>&copy; Stampee Inc</span>
                    <span>Termes et conditions</span>
                    <span>Politique de vie privée</span>
                </div>
                
                <div class="medias-sociaux">
                    <img src="assets/img/facebook.webp" alt="logo-facebook">
                    <img src="assets/img/twitter.webp" alt="logo-twitter">
                </div>
            </div>        
        </div>

    </footer>
</body>
</html>